/* register.css */

.registerMain {
  background-color: #333;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 1001;
  margin-top: 70px; 
}

.register-container {
  width: 100%; /* Full width */
  max-width: 600px; /* Set a maximum width */
  padding: 20px;
  margin: 30px;
  border: 1px solid #555;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #444; /* Dark background color */
}

.register-form-container {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Responsive Styling */

@media only screen and (max-width: 768px) {
  .register-container {
    max-width: 100%;
    margin-top: 70px;
  }
  .form-group {
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}
