.service-container {
    background-color: #111; /* Dark background color */
    color: #fff; /* Text color */
    padding: 20px;
  }
  
  .heading {
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    width: 225px;
    height: 435px;
  }
  
  .service-img {
    width: 200px;
    height: 200px;
  }
  
  /* Responsive layout */
  @media (max-width: 768px) {
    .card {
      width: 100%; /* Adjust card width for smaller screens */
      height: auto;
    }
  }
  